.changelog {
  h1 {
    font-size: 2.25rem;
    line-height: 1.5;
    font-weight: 800;
    border-bottom: none;
  }
  h2 {
    margin-top: 2rem !important;
  }
  ul {
    list-style-type: disc;
    padding-left: 2em;
  }
  ol {
    list-style-type: decimal;
    padding-left: 2em;
  }
}
